
<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond /_runtime/web/%{REQUEST_FILENAME} -f  
  RewriteCond %{REQUEST_FILENAME} !\.php$
  RewriteRule ^(.*)$ /_runtime/web/$1 [END,QSA]

  RewriteCond /_files/web/%{REQUEST_FILENAME} -f  
  RewriteCond %{REQUEST_FILENAME} !\.php$
  RewriteRule ^(.*)$ /_files/web/$1 [END,QSA]

  RewriteCond %{REQUEST_URI} !^/index.php$ [NC]
  RewriteRule ^(.*)$ /index.php [END,QSA]
</IfModule> 