
<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{DOCUMENT_ROOT}/_runtime/web/%{REQUEST_URI} -f  
  RewriteCond %{REQUEST_FILENAME} !\.php$
  RewriteRule ^(.*)$ /_runtime/web/$1 [END,QSA]

  RewriteCond %{DOCUMENT_ROOT}/_files/web/%{REQUEST_URI} -f
  RewriteCond %{REQUEST_FILENAME} !\.php$
  RewriteRule ^(.*)$ /_files/web/$1 [END,QSA]

  RewriteCond %{REQUEST_URI} !^/index.php$ [NC]
  RewriteRule ^(.*)$ /index.php [END,QSA]
</IfModule> 